@page "{id:int?}"
@inject LocService ls
@model AngielskiNauka.Pages.DaneEditModel
@{
}


<div class="word-container">
    <div class="word-item">
        <img src="~/img/ang.png" class="flag" />
        <input type="text" id="angedit" class="word" value="@Model.d.Ang" />

    </div>

    <div class="word-item">
        <img src="~/img/pol.png" class="flag" />
        <input type="text" id="poledit" class="word" value="@Model.d.Pol" />
    </div>
    <button onclick="addTask()" type="submit">🚀 Zapisz zadanie</button>
</div>
<div id="loadingPanel" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:9999; display:flex; justify-content:center; align-items:center;">
    <div class="spinner"></div>
</div>
<style>

    .spinner {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }


    .word-container {
        display: flex;
        flex-direction: column; /* ← to dodaj */
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .word-item {
        text-align: left;
        background-color: aliceblue;
        padding-bottom: 100px;
        width: 80%;
    }

    .flag {
        width: 50px;
        height: 30px;
        margin-bottom: 10px;
    }

    .word {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>

<script>
    var idzad = '@Model.d.DaneId';
    console.log(idzad);
    function showLoading() {
        document.getElementById('loadingPanel').style.display = 'flex';
    }

    function hideLoading() {
        document.getElementById('loadingPanel').style.display = 'none';
    }
    hideLoading();
    function addTask() {
        showLoading()
        var poledit = textValue('poledit')
        var angedit = textValue('angedit')
        var model = {
            id: idzad,
            pol: poledit,
            ang: angedit
        }
        console.table(model);
        postjson("/api/baza/update", model, function (data) {

            window.location.reload();


        }, function (data) {

            console.log(data)

        })
    }
</script>
