@page
@model AngielskiNauka.Pages.DeployModel
@{
}
<script>
    var pos = 0;

    var ff = {

    }
    //$('#divpol').hide();
    function aaa (v) {

        var ff = {
            id:v
        }
     
        postjson("api/git", v, function (data) {

            console.log(data);


        }, function (data) {

            console.log(data)

        })

    }
</script>
Ilosc @Model.gitBaza.workflow_runs.Count


<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.gitBaza.workflow_runs)
        {
            <tr>
                <td>@item.id</td>

                <td><button onclick="aaa('@item.id')">dd</button></td>
            </tr>

        }

    </tbody>
</table>

