@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<p>
    <strong>Request ID:</strong> <code>@Model.swsw</code>
</p>
<script>

    getjson("api/ang", function (data) {
        alert(data.nazwa)
        console.log('nazwa', data.nazwa);
        if (data.status != 'ok') {

           console.log('zapisanoeee', data);





        }







    }, function (data) {



        console.log(data.message);

    })
</script>