@page
@using AngielskiNauka.Resources
@model AngielskiNauka.Pages.PoziomModel

@inject LocService SharedLocalizer
@{
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lista)
        {
            <tr>
                <td>@item.nazwa</td>
                <td>
                    <a href="/Index/@item.id">Testuj</a>

                </td>
                <td>
                    <a href="/show/@item.id">@SharedLocalizer.Get("przeglad")</a>

                </td>
                <td>
                    <a href="/show/@item.id">@SharedLocalizer.Get("fiszka")</a>

                </td>
            </tr>

        }

    </tbody>
</table>

