<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog-project.org/schemas/NLog.xsd http://nlog-project.org/schemas/NLog.xsd">

  <!-- Targets -->
  <targets>
    <!-- Ogólny log aplikacji (Debug–Warn) -->
    <target xsi:type="File" name="logfile"
            fileName="logs/app-log.txt"
            layout="${longdate} ${uppercase:${level}} ${logger} - ${message}${onexception:${newline}${exception:format=Message,Type}}">

      <archiveFileName>logs/app-log.{#}.txt</archiveFileName>
      <archiveEvery>Day</archiveEvery>
      <archiveAboveSize>10485760</archiveAboveSize>
      <!-- 10 MB -->
      <maxArchiveFiles>5</maxArchiveFiles>
      <deleteOldFiles>true</deleteOldFiles>
    </target>

    <!-- Log błędów (Error i wyżej) -->
    <target xsi:type="File" name="errorlog"
            fileName="logs/error-log.txt"
            layout="${longdate} ${uppercase:${level}} ${logger} - ${message}${onexception:${newline}${exception:format=ToString}}"/>
  </targets>

  <!-- Reguły -->
  <rules>
    <!-- Debug–Warn do app-log.txt -->
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="logfile" />

    <!-- Error i wyżej tylko do error-log.txt -->
    <logger name="*" minlevel="Error" writeTo="errorlog" />
  </rules>

</nlog>
