<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nlog-project.org/schemas/NLog.xsd http://nlog-project.org/schemas/NLog.xsd">

	<!-- Define the targets where log messages will be written -->
	<targets>
		<!-- Log to a general file -->
		<target xsi:type="File" name="logfile" fileName="logs/app-log.txt" layout="${longdate} ${level} ${message} ${exception}">
			<archiveFileName>logs/app-log.{#}.txt</archiveFileName>
			<archiveEvery>Day</archiveEvery>
			<maxArchiveFiles>5</maxArchiveFiles>
			<deleteOldFiles>true</deleteOldFiles>
		</target>

		<!-- Log Error messages to a separate file -->
		<target xsi:type="File" name="errorlog" fileName="logs/error-log.txt" layout="${longdate} ${level} ${message} ${exception}" />

	</targets>

	<!-- Define the rules for which loggers write to which targets -->
	<rules>
		<!-- Write logs of level Debug and higher to the general logfile -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />

		<!-- Write Error logs to a separate error log file -->
		<logger name="*" minlevel="Error" writeTo="errorlog" />
	</rules>

</nlog>
