<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nlog-project.org/schemas/NLog.xsd http://nlog-project.org/schemas/NLog.xsd">

	<!-- Define the targets where log messages will be written -->
	<targets>
		<!-- Log to a file -->
		<target xsi:type="File" name="logfile" fileName="logs/app-log.txt" layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Log to the console -->
		<target xsi:type="Console" name="logconsole" layout="${longdate} ${level} ${message}" />
	</targets>

	<!-- Define the rules for which loggers write to which targets -->
	<rules>
		<!-- Write logs of level Debug and higher to file -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />

		<!-- Write logs of level Info and higher to console -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>

</nlog>
