<a asp-area="" asp-page="/Index" asp-route-id="@Model" class="button">Testy</a>
<a asp-area="" asp-page="/show" asp-route-id="@Model" class="button">Przegląd</a>
<a asp-area="" asp-page="/Poziom" class="button">Poziomy</a>
