
@model int


<a href="fiszka?id=@Model">fiszka</a>
<br />
<a href="Stat">stat</a>
<br />


<a href="show?id=@Model">Przeglad</a>
<br />
<a href="full?id=@Model">Pelny</a>
<br />


<a href="/@Model">Test</a>
<br />